#dataBody{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#centerBody{
    height: auto;
    width: 88%;
    background: lightgrey;
}

.dataClass{
    float: left;
    height: auto;
    width: auto;
    padding: 1px;
}

#idLabelTest{
    padding: 2px 2px;
}

#editButton{
    padding: 0;
    margin-top: .5;
    margin-bottom: 0;
}

.dataData{
    font-size: 17px;
}

#addForm{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addForm2{
    height: auto;
    width: 88%;
}